.ei-main {
    Table {
        th {
            width: 150px;
        }
        td:nth-child(3) {
            text-align: right;
        }
        .ei-info-main {
            .input-group {
                width: 60%;
            }
            #regEmail, #regAddress {
                width: 60%;
            }
            #regName {
                width: 30%;
            }
            #regPhone, #regPassword, #regNewPassword, #regNewPasswordAgain {
                width: fit-content;
            }
            .pwd-eye-i {
                cursor: pointer;
                position: absolute;
                left: 590px;
                //top: 217px;
            }
            .eye1 {
                top: 358px;
            }
            .eye2 {
                top: 438px;
            }
            .eye3 {
                top: 508px;
            }
            #regPassword {
                background-image: none;
                margin-bottom: 10px;
            }
            // Button {
            //     width: fit-content;
            //     padding: 3px;
            //     font-size: smaller;
            // }
            .ei-info-btns {
                display: flex;
                // float: right;
                margin-top: 10px;
                button { 
                    color: white;
                    background-color: rgb(158, 157, 157);
                    border: 1px solid rgb(158, 157, 157);
                    border-radius: 2px;
                    width: fit-content;
                    margin-right: 5px;
                }
                button:nth-child(1) {
                    background-color: black;
                    border: 1px solid black;
                }
            }
        }
    }

    button {
        width: 130px;
    }
}