.reg-main {
    position: relative;
    width: 400px;
    margin: 50px auto;
    .title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 50px;
    }
    .reg-btn {
        width: 100%;
        margin-top: 10px;
    }
    .pwd-eye-i {
        padding: 0 5px 0 5px;
        background: transparent;
        border-left: none;
        border-top-right-radius: 0.375rem !important;
        border-bottom-right-radius: 0.375rem !important;
        &.error {
            border-color: #dc3545;
        }
        &.success {
            border-color: #198754;
        }
        img {
            cursor: pointer;
        }
    }
    #regPassword {
        background-image: none;
    }
}