.starList {
    float: left;
    button {
        width: 25px;
        height: 25px;
        background-color: transparent;
        border: none;
    }
}

.eachStar {
    svg{
        &.inactiveStar {
            fill: #eeeeee;
        }
    
        &.activeStar {
            fill: #ffc107;
        }
    }
}